node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
.DS_Store
.vscode/*
!.vscode/extensions.json
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
scripts/enrich/results/*.json
!scripts/enrich/results/.gitkeep
!scripts/enrich/results/example.json
